{% load static %}
<nav class="navbar navbar-expand-sm bg-white navbar-white py-0">
    <div class="container-fluid border">
      <a class="navbar-brand m-0 p-0 " href="{% url 'index' %}">
        <img src="{% static 'zeserver/assets/1x/sedd.png' %}" class="rounded m-0 p-0" alt="Sedd"></image>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">{{user.username|capfirst}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Se déconnecter</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#">Se connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">S'inscrire</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>